<%= form_with(model: commentaire, local: true) do |form| %>
  <% if commentaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commentaire.errors.count, "error") %> prohibited this commentaire from being saved:</h2>

      <ul>
        <% commentaire.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :published_at %>
    <%= form.datetime_select :published_at %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :blog_id %>
    <%= form.text_field :blog_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
