<p id="notice"><%= notice %></p>

<h1>Commentaires</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Published at</th>
      <th>Name</th>
      <th>Email</th>
      <th>Blog</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commentaires.each do |commentaire| %>
      <tr>
        <td><%= commentaire.content %></td>
        <td><%= commentaire.published_at %></td>
        <td><%= commentaire.name %></td>
        <td><%= commentaire.email %></td>
        <td><%= commentaire.blog_id %></td>
        <td><%= link_to 'Show', commentaire %></td>
        <% if current_user %>
          <td><%= link_to 'Edit', edit_commentaire_path(commentaire) %></td>
          <td><%= link_to 'Destroy', commentaire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
  <%= link_to 'New Commentaire', new_commentaire_path %>
<% end %>