<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @commentaire.content %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @commentaire.published_at %>
</p>

<p>
  <strong>Name:</strong>
  <%= @commentaire.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @commentaire.email %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @blog.title %>
  <%= link_to 'Go to blog', @blog %>
</p>

<% if current_user %>
  <%= link_to 'Edit', edit_commentaire_path(@commentaire) %> |
<% end %>
<%= link_to 'Back', commentaires_path %>
