<p>
  <strong>Add comment:</strong>
</p>

<%= form_with(model: @comment, local: true) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this commentaire from being saved:</h2>

      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.hidden_field :published_at, value: DateTime.current.to_s(:db)  %>
  </div>

  <div class="field">
    <%= form.hidden_field :blog_id, value: @blog.id%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
