<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Published at</th>
      <% if current_user %>
        <th>Draft</th>
        <th>User ID</th>
      <% end %>
      <th>User Name</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= truncate blog.content, length: 60 %></td>
        <td><%= blog.published_at %></td>
        <% if current_user %>
          <td><%= blog.draft %></td>
          <td><%= blog.user_id %></td>
        <% end %>
        <td><%= blog.user.name %> <a><%= link_to 'Profile', blog.user %></a></td>
        <td><%= link_to 'Show', blog %></td>
        <% if current_user %>
          <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
          <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% if current_user %>
  <%= link_to 'New Blog', new_blog_path %>
<% end %>
