<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @blog.published_at %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @blog.draft %>
</p>

<p>
  <strong>User:</strong>
  <%= @blog.user.name %>
</p>

<% if @blog.tags.length > 0 %>
<p>
  <strong>Categories:</strong>
  <%= @blog.tags.map(&:name).join(', ') %>
  <%# Affiche le tableau des tags en séparant les valeurs par ", " %>
</p>
<% end %>

<p>
  <strong>Comments:</strong>
</p>
<% if @comments.length > 0 %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Comment</th>
        <th>Published at</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.name %></td>
          <td><%= truncate comment.content, length: 80 %></td>
          <td><%= comment.published_at %></td>
          <td><%= link_to 'Show', comment %></td>
          <% if current_user %>
            <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure to delete this comment?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Pas de commentaires pour ce blog.</p>
<% end %>

<% if current_user %>
  <%= render 'new_comment', blog: @blog %>
  <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <% end %>

<%= link_to 'Back', blogs_path %>
