<p id="notice"><%= notice %></p>

<h1>Profile</h1>

<% if current_user %>
  <p><strong>Logged in as</strong></p>
  <p>
    Nom : <%= current_user.name %>
    <br>
    Email : <%= current_user.email %>
  </p>
  <%= link_to 'Log Out', logout_path %>
<% else %>
  You are not logged.
  <%= link_to 'Login', login_path %>
<% end %>