<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>

  <%# <% if @user.email.present? %>
    <%# Je fais un truc %>
  <%# <% end %>

</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Published at</th>
      <% if current_user %>
        <th>Draft</th>
        <th>Creator</th>
      <% end %>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %> <!-- @blogs fait référence à la def show du fichier users_controller.rb et à la variable @blogs = @user.blogs de celle-ci. -->
      <tr>
        <td><%= blog.title %></td>
        <td><%= truncate blog.content, length: 60 %></td>
        <td><%= blog.published_at %></td>
        <% if current_user %>
          <td><%= blog.draft %></td>
          <td><%= @user.name %></td>
        <% end %>
        <td><%= link_to 'Show', blog %></td>
        <% if current_user %>
          <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
          <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
