/* ----- Variables ----- */
$primary-color : #2664AE;
$primary-color-light : #E6F2FF;
$primary-color-dark : #103563;
$secondary-color : #FFCC03;
$degrade-primary-color : linear-gradient(to left top, #2664AE 0%, rgba(38, 100, 174,0.6) 100%);
$black : #000;
$white : #fff;

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }
    #{$property}: $value;
}


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
    text-align: center;
    li {
        display: inline-block;
        margin: 0 1em;
        a {
            &.link_nav {
                font-size: 1.5em;
                color: #f56f56;
                text-decoration: none;
                font-weight: 500;
                text-transform: uppercase;
                @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
                display: block;
                padding: 0.5em 0;
                width: 200px;
                background-color: #f5f5f5;
            }
            &.link_nav:hover {
                @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
                background-color: #c05340;
                color: #fff;
            }
        }
    }
}
