<!DOCTYPE html>
<html>
  <head>
    <title>Admin / Myblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #c1c1c1;">
    <header>
        <nav>
          <ul>
      <% if current_user %>
            <li><%= link_to 'Admin Blogs', admin_blogs_path, class: 'link_nav' %></li>
            <li><%= link_to 'Users', admin_users_path, class: 'link_nav' %></li>
            <li><%= link_to 'Profile', profile_path, class: 'link_nav' %></li>
            <li><%= link_to 'Logout', logout_path, class: 'link_nav' %></li>
      <% else %>
            <li><%= link_to 'Blogs', blogs_url, class: 'link_nav' %></li>
            <li><%= link_to 'Profile', profile_path, class: 'link_nav' %></li>
            <li><%= link_to 'Login', login_path, class: 'link_nav' %></li>
      <% end %>
          </ul>
        </nav>
    </header>
  
    <%= yield %>
  </body>
</html>
